---
layout: default
---

<main class="page-body">
  <section id="banner" class="wrapper text-center" style="background-image: url('{{site.baseurl}}/img/awesome_header_bg.png');">
  <div class="container">
    <div class="col-sm-12 hm-logo">
      <a href="https://haagsemakers.nl">
        <img src="{{site.baseurl}}/img/hm-vignet-vlak-wit.png" height="40"/>
      </a>
    </div>
    <div class="col-sm-12 col-sm-6 awesome-logo">
      <img src="{{site.baseurl}}/img/awesome_logo.png" class="project-logo"/>
    </div>

    <div class="col-sm-12 col-sm-6 awesome-intro">
      <h2>HEB JIJ EEN TE GEK IDEE OM DEN HAAG NÓG MEER AWESOME TE MAKEN?</h2>
      <h3>Iedere maand geven we iemand een donatie van €1000 als bijdrage om een te gek en briljant idee te realiseren voor onze stad.</h3>
    </div>
    <div class="col-sm-12 money-call">
      <a href="http://www.awesomefoundation.org/en/submissions/new?chapter=thehague" target="_blank" class="btn btn-default btn-money">Give me my money ;)</a>
    </div>
  </div>
</section>


<section id="what-we-do" class="wrapper">
  <div class="container">
    <div class="col-sm-12">
      <h2 class="section-heading">Wat we doen</h2>
      We geven mensen €1000,- als bijdrage aan de realisatie van hun idee! Iedere maand hosten we een bijeenkomst waar jij jouw <em>awesome</em> idee kan pitchen. Wij openen ons netwerk, geven feedback en kiezen het meest <em>awesome</em> idee dat de donatie krijgt. We stimuleren ondernemerschap en versterken onze vaardigheden. Zo simpel is het!<p>
      <p>Heb jij een te gek idee? <a href="http://www.awesomefoundation.org/en/submissions/new?chapter=thehague" target="_blank">Meld je aan!</a></p>
    </div>
  </div>
</section>

<section id="rsvp" class="wrapper">
  <div class="container">
    <div class="col-sm-12">
      {% include pitch-night-invite.html %}
    </div>
  </div>
</section>

<section id="what-we-look-for" class="wrapper">
  <div class="container">
    <div class="col-sm-12">
      <h2 class="section-heading">Waar we naar op zoek zijn</h2>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <img src="{{site.baseurl}}/img/awesome_icon_unusual.png" />
          <p>We zijn hier niet voor kleine stapjes of saaie projecten. Onze bijdrage moet je moeder laten schreeuwen</p>
        </div>

        <div class="col-sm-12 col-md-4">
          <img src="{{site.baseurl}}/img/awesome_icon_possible.png" />
          <p>Een idee is niets zonder uitvoering, laat ons zien hoe het gerealiseerd kan worden en wij ondersteunen je daarin.</p>
        </div>

        <div class="col-sm-12 col-md-4">
          <img src="{{site.baseurl}}/img/awesome_icon_local.png"/>
          <p>Het moet een idee zijn dat een voorbijganger toevallig hoort en aan je kan navertellen in het café.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="how-it-works" class="wrapper">
  <div class="container">
    <div class="col-sm-12">
      <h2 class="section-heading">Hoe het werkt</h2>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <img src="{{site.baseurl}}/img/awesome_icon_step1.png"/>
          <h3><i class="fa fa-flask"></i> Idee inzenden</h3>
          <p>Vertel ons waarom jou idee bijdraagt aan een meer awesome Den Haag. Is het haalbaar met €1000,-? <br>
            Volgende deadline: <br><strong>21 maart 2017 9:00 uur!</strong></p>
          <a href="http://www.awesomefoundation.org/en/submissions/new?chapter=thehague" class="btn btn-primary">Idee inzenden</a>
        </div>
        <div class="col-sm-12 col-md-4">
          <img src="{{site.baseurl}}/img/awesome_icon_step2.png"/>
          <h3><i class="fa fa-bullhorn"></i> Presenteer je idee</h3>
          <p>Kom naar AWESOME The Hague Pitch Night op <strong>23 maart 2017</strong> waar de 5 genomineerde Haagse pitchers hun idee presenteren aan de trustees, en de winnaar wordt geselecteerd.</p>
        </div>
        <div class="col-sm-12 col-md-4">
          <img src="{{site.baseurl}}/img/awesome_icon_step3.png"/>
          <h3><i class="fa fa-money"></i> Make it happen!</h3>
          <p>Heb je gewonnen? Ontvang €1000,- en realiseer je plan! Niet geselecteerd? Praat met onze trustees tijdens AWESOME Den Haag, scherp je idee aan en meld je nog een keer aan. Verlies is slechts een stap dichter bij succes!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="become-trustee" class="wrapper">
  <div class="container">
    <div class="col-sm-12">
      <h2 class="section-heading">Word Trustee</h2>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <h3>Maandelijks netwerk evenement</h3>
          <ul>
            <li>Bezoek de Pitch Night iedere maand</li>
            <li>Neem een vriend of relatie mee</li>
            <li>Lukt het je niet om aanwezig te zijn? Stuur een afgevaardigde</li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-4">
          <h3>Stem op het meest awesome idee</h3>
          <ul>
            <li>Stel vragen en geef feedback</li>
            <li>Stem op jouw favoriete idee</li>
            <li>Je bent 1 van de 20 stemgerechtigden</li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-4">
          <h3>Draag bij aan onze stad</h3>
          <ul>
            <li>Doneer €50,- per editie</li>
            <li>Voor minimaal 3 edities</li>
            <li>Stoppen als Trustee? Introduceer een nieuwe trustee</li>
          </ul>
        </div>
        <div class="col-sm-12 trustee-call">
          <a class="btn btn-light" href="/contact">Aanmelden als trustee</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="when-where" class="wrapper">
  <div class="container">
    <div class="col-sm-12">
      <h2 class="section-heading">Waar en wanneer</h2>
    </div>
    <div class="col-sm-12">
      {% include pitch-night-invite.html %}


      Heb je een awesome idee voor Den Haag? <br><a class="btn btn-light" href="http://www.awesomefoundation.org/en/submissions/new?chapter=thehague">Jouw Awesome idee inzenden</a><br>

    </div>
  </div>
</section>

<section id="partners" class="wrapper">
  <div class="container">
    <div class="col-sm-12">
      <h2>Dit is AWESOME Den Haag</h2>
      <p>The Awesome Foundation is een wereldwijde community die awesome in het universum verder brent. Trustees ondersteunen te gekke ideeën in meer dan 80 chapters in 18 landen. Chapter Den Haag is gestart door Arn van der Pluijm vanuit Haagse Makers. Kijk voor meer informatie op de <a href="http://awesomefoundation.org" target="_blank">wereldwijde website</a>, of lees ons persbericht.
      </p>
      <h3>Organisatie</h3>
      <div class="row organizers">
        <div class="col-sm-12 organizer">
          <img src="{{site.baseurl}}/img/hm-logo-lijn.png" height="70"/>
        </div>
      </div>
      <div class="partners">
        <h3>Partners</h3>
        <div class="row">
          <div class="col-sm-12 col-sm-6 col-md-4 partner">
            <a href="http://www.bazaarofideas.com/" target="_blank">
              <img class="img-fluid" src="{{site.baseurl}}/img/Bazaar_of_Ideas_Extended_K.png" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</main>
