
<div class="pitch-night-invite">
  <h2 class="section-heading">Komende Pitch Night</h2>
  <p>De Awesome The Hague Pitch Night vindt iedere maand plaats. Hét moment voor awesome ideeën voor onze stad! Editie 3 van Awesome The Hague vindt plaats tijdens Border Sessions, hét internationale technologie-festival in Den Haag. </p>
  <div class="pitch-night-date">
    <h3>Awesome The Hague Pitch Night #3</h3>
    <div class="location">
      <img class="bazaar" src="{{site.baseurl}}/img/logos/bordersessions-black.png" width="150"/>
    </div>
    <div class="date">
      <p>Deadline inzenden: <date>Zaterdag 24 juni 12:00</date></p>
      <p>Pitch Night: <date>Donderdag 29 juni 2017 17:00 - 19:00</date></p>
    </div>

    <div class="rsvp">
      <a class="btn" href="https://www.haagsemakers.nl/agenda/awesome-the-hague-pitch-night-3-2/">RSVP via Haagse Makers</a>
      <a class="btn" href="https://www.facebook.com/events/122254131667574/" target="_blank">RSVP via <i class="fa fa-facebook"></i> facebook</a><br>
    </div>
  </div>
</div>
