header.awesome-navheader {
  //border-bottom: 1px solid $color-awesome;
  nav.navbar {
    background-color: #FFF;
    padding: 0;
    a.navbar-brand {
      background-color: $color-awesome;
      padding: 5px 10px;
      color: #FFF;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1px;
    }
    ul {
      li {
        a.nav-link {
          font-size: 0.8rem;
          color: #000;
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 1px;
          &.active {
            border-bottom: 1px solid $color-awesome;

          }
          &:hover {
            color: #000;
          }
        }
      }
    }
  }
}
